<template>
  <div class="container">
    <form @submit.prevent="register">
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nama Lengkap</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" v-model="user.name"/>
          <span class="text-danger" v-if="errors.name"> {{errors.name[0]}} </span>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">No Telp/WA</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" v-model="user.phone" />
          <span class="text-danger" v-if="errors.phone"> {{errors.phone[0]}} </span>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" v-model="user.email" />
          <span class="text-danger" v-if="errors.email"> {{errors.email[0]}} </span>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Alamat</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" v-model="user.address" />
          <span class="text-danger" v-if="errors.address"> {{errors.address[0]}} </span>
        </div>
      </div>
       <button type="submit" class="btn btn-primary" :disabled="state.isSending">Submit</button>
    </form>
  </div>
</template>

<script>
import "bootstrap/dist/css/bootstrap.min.css"
import { mapState, mapActions, mapMutations } from 'vuex'
export default {
  name: 'Register',
  data(){
    return {
      state:{
        isSending:false
      }
    }
  },
  computed: {
    ...mapState(['errors']),
    ...mapState('user', {
      user: state => state.user
    })
  },
  methods:{
    ...mapActions('user',['postUser']),
    ...mapMutations(['CLEAR_ERRORS']),
    register(){
      this.state.isSending = true
      this.postUser()
      .then(() => {
        this.state.isSending = false
        this.CLEAR_ERRORS()
      })
      .catch(() => {
        this.state.isSending = false
      })
    }
  }
}
</script>
<style scoped>
.container{
    border-style: solid;
    padding:30px;
    margin:10px;
}
.btn:disabled{
  cursor: not-allowed;
  opacity: 0.8;
}
</style>