<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nama</th>
                            <th scope="col">No Telp</th>
                            <th scope="col">Email</th>
                            <th scope="col">Alamat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="user in users" :key="user.id">
                            <td> {{user.name}} </td>
                            <td> {{user.phone}} </td>
                            <td> {{user.email}} </td>
                            <td> {{user.address}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.min.css'
import { computed, onMounted } from 'vue'
import { useStore } from 'vuex'
export default {
    setup(){
        const store = useStore()
        onMounted(() => {
            return store.dispatch('user/getUser')
        })
        const users = computed(() => {
            return store.getters['user/getUser']
        })
        return {
            store,
            users
        }
    }   
}
</script>

<style scoped>
.container{
    border-style: solid;
    padding:30px;
    margin: 10px;
}
</style>