<template>
  <Register/>
  <Table/>
</template>

<script>
import Register from './components/Register'
import Table from './components/Table'

export default {
  name: 'App',
  components: {
    Register,
    Table
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin:0 auto;
  width:760px;
  padding:30px;
}
</style>
